<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.17">
  <compounddef id="classlibmolgrid_1_1AtomIndexTypeMapper" kind="class" language="C++" prot="public" abstract="yes">
    <compoundname>libmolgrid::AtomIndexTypeMapper</compoundname>
    <derivedcompoundref refid="classlibmolgrid_1_1FileAtomMapper" prot="public" virt="non-virtual">FileAtomMapper</derivedcompoundref>
    <derivedcompoundref refid="classlibmolgrid_1_1SubsetAtomMapper" prot="public" virt="non-virtual">SubsetAtomMapper</derivedcompoundref>
    <includes refid="atom__typer_8h" local="no">atom_typer.h</includes>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="classlibmolgrid_1_1AtomIndexTypeMapper_1a5d3f8f728d969e963cc44c9d3defa807" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>AtomIndexTypeMapper</definition>
        <argsstring>()</argsstring>
        <name>AtomIndexTypeMapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" line="102" column="5" bodyfile="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" bodystart="102" bodyend="102"/>
      </memberdef>
      <memberdef kind="function" id="classlibmolgrid_1_1AtomIndexTypeMapper_1a9a71966fb965d0dc1c133c75f8be0359" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type></type>
        <definition>virtual ~AtomIndexTypeMapper</definition>
        <argsstring>()</argsstring>
        <name>~AtomIndexTypeMapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" line="103" column="13" bodyfile="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" bodystart="103" bodyend="103"/>
      </memberdef>
      <memberdef kind="function" id="classlibmolgrid_1_1AtomIndexTypeMapper_1ad493bf80b659abb6e401d7fee5c8231a" prot="public" static="no" const="yes" explicit="no" inline="yes" virt="virtual">
        <type>unsigned</type>
        <definition>virtual unsigned num_types</definition>
        <argsstring>() const</argsstring>
        <name>num_types</name>
        <reimplementedby refid="classlibmolgrid_1_1FileAtomMapper_1ad493bf80b659abb6e401d7fee5c8231a">num_types</reimplementedby>
        <reimplementedby refid="classlibmolgrid_1_1SubsetAtomMapper_1ad493bf80b659abb6e401d7fee5c8231a">num_types</reimplementedby>
        <briefdescription>
<para>return number of mapped types, zero if unknown (no mapping) </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" line="106" column="22" bodyfile="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" bodystart="106" bodyend="106"/>
      </memberdef>
      <memberdef kind="function" id="classlibmolgrid_1_1AtomIndexTypeMapper_1a84e5366fb6c4b143c6d05c51785fd6a6" prot="public" static="no" const="yes" explicit="no" inline="yes" virt="virtual">
        <type>int</type>
        <definition>virtual int get_new_type</definition>
        <argsstring>(unsigned origt) const</argsstring>
        <name>get_new_type</name>
        <reimplementedby refid="classlibmolgrid_1_1FileAtomMapper_1a65bf8d6eed03de1b4e3d6fdde34adabd">get_new_type</reimplementedby>
        <reimplementedby refid="classlibmolgrid_1_1SubsetAtomMapper_1a65bf8d6eed03de1b4e3d6fdde34adabd">get_new_type</reimplementedby>
        <param>
          <type>unsigned</type>
          <declname>origt</declname>
        </param>
        <briefdescription>
<para>return mapped type </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" line="109" column="17" bodyfile="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" bodystart="109" bodyend="109"/>
      </memberdef>
      <memberdef kind="function" id="classlibmolgrid_1_1AtomIndexTypeMapper_1aedda205572fbbaa3a868181802232263" prot="public" static="no" const="yes" explicit="no" inline="no" virt="pure-virtual">
        <type>std::vector&lt; std::string &gt;</type>
        <definition>virtual std::vector&lt;std::string&gt; get_type_names</definition>
        <argsstring>() const =0</argsstring>
        <name>get_type_names</name>
        <reimplementedby refid="classlibmolgrid_1_1FileAtomMapper_1aacde71a2d28fc736c3d43da006f3a1c6">get_type_names</reimplementedby>
        <reimplementedby refid="classlibmolgrid_1_1SubsetAtomMapper_1aacde71a2d28fc736c3d43da006f3a1c6">get_type_names</reimplementedby>
        <briefdescription>
<para>return vector of string representations of types </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" line="112" column="25"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
<para>Base class for mapping between type indices. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>AtomIndexTypeMapper</label>
        <link refid="classlibmolgrid_1_1AtomIndexTypeMapper"/>
      </node>
      <node id="3">
        <label>SubsetAtomMapper</label>
        <link refid="classlibmolgrid_1_1SubsetAtomMapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>FileAtomMapper</label>
        <link refid="classlibmolgrid_1_1FileAtomMapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
    </inheritancegraph>
    <location file="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" line="100" column="26" bodyfile="/home/dkoes/git/libmolgrid/include/libmolgrid/atom_typer.h" bodystart="100" bodyend="113"/>
    <listofallmembers>
      <member refid="classlibmolgrid_1_1AtomIndexTypeMapper_1a5d3f8f728d969e963cc44c9d3defa807" prot="public" virt="non-virtual"><scope>libmolgrid::AtomIndexTypeMapper</scope><name>AtomIndexTypeMapper</name></member>
      <member refid="classlibmolgrid_1_1AtomIndexTypeMapper_1a84e5366fb6c4b143c6d05c51785fd6a6" prot="public" virt="virtual"><scope>libmolgrid::AtomIndexTypeMapper</scope><name>get_new_type</name></member>
      <member refid="classlibmolgrid_1_1AtomIndexTypeMapper_1aedda205572fbbaa3a868181802232263" prot="public" virt="pure-virtual"><scope>libmolgrid::AtomIndexTypeMapper</scope><name>get_type_names</name></member>
      <member refid="classlibmolgrid_1_1AtomIndexTypeMapper_1ad493bf80b659abb6e401d7fee5c8231a" prot="public" virt="virtual"><scope>libmolgrid::AtomIndexTypeMapper</scope><name>num_types</name></member>
      <member refid="classlibmolgrid_1_1AtomIndexTypeMapper_1a9a71966fb965d0dc1c133c75f8be0359" prot="public" virt="virtual"><scope>libmolgrid::AtomIndexTypeMapper</scope><name>~AtomIndexTypeMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
